<html>
<head>
  <title>Disk Space Report</title>
  <link rel="stylesheet" type="text/css" href="report.css">
  <script src="sorttable.js"></script>
  <script type="text/javascript">
    toggleVisible = function(id) {
      var tbl = document.getElementById(id).style;
      if (tbl.display == 'none' || tbl.display == '') {
          tbl.display = 'block';
      } else {
          tbl.display = 'none';
      }
      return false;
    }
  </script>

</head>
<body>
<h2>Disk Space Report: <%= @date %></h2>

<% @args.each do |arg| %>
  <% info = (@rdata[arg]).info %>
  <h2><%= arg %>&nbsp;&nbsp;&nbsp;&nbsp;<span class="small">Size: <%= info.size %>&nbsp&nbspUsed: <%= info.used %>&nbsp&nbspAvail: <%= info.avail %></span></h2>
  <p>start: <%= info.start.strftime("%H:%M:%S") %>&nbsp;&nbsp;&nbsp;done: <%= info.done.strftime("%H:%M:%S") %>&nbsp;&nbsp;&nbsp;<a href="logs_<%= arg %>.html">logs</a></p>
  <table class="sortable">
    <thead>
      <th class="sorttable_alpha">User</th><th class="right">Disk Space</th><th>Big Directories</th>
    </thead>
    <% @rdata[arg].rdata.each do |row| %>
      <tr class="coloured">
        <td sorttable_customkey="<%= row.name %>"><%= row.name %></td>
        <td sorttable_customkey="<%= row.raw %>" class="right"><%= row.friendly %></td>
        <td><% if row.big.length > 0 %>
          <span class="small"><a href="#" onClick="return toggleVisible('<%= arg %>_<%= row.name %>');">Show/Hide</a></span>
          <table id="<%= arg %>_<%= row.name %>" class="hidden sortable">
            <thead><th>Size</th><th class="sorttable_alpha">Path</th></thead>
            <% row.big.each do |big| %>
              <tr><td class="right" sorttable_customkey="<%= big.size %>"><%= big.friendly %></td><td><%= big.path %></td></tr>
            <% end %>
          </table><% end %></td>
      </tr>
    <% end %>
  </table>

<% end %>
</body>
</html>
